{% extends 'html/base.html' %}
{% block title %} Admin Login {% endblock %}
{% block content %}
<div class="container mt-5">
	<div class="card col-md-6 mx-auto shadow-lg" style="border-radius: 20px;">
		<div class="card-body mx-1 mt-2">
			<h2 class="text-center text-wite border rounded mt-1" style="background-color: #fff;">Admin Login</h2>
			<form method="POST">
  			{% csrf_token %}
  			<!-- {{form.as_p}} -->
  			<input type="text" name="username" placeholder="Enter Username" class="form-control my-2 mt-4">
  			<input type="password" name="password" placeholder="Enter Password" class="form-control my-2 mt-4">
  			<input type="submit" value="Login" name="Login" class="btn btn-block btn-success mb-2 mt-3">
  		</form>
  	</div>
  </div>
</div>
{% endblock %}