{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="text/css" href="{% static 'images/brand.png' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/footerstyles.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{% static 'jquery/demo.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <style type="text/css">
    .nav-link {
      color: black !important;
}
  </style>
</head>
<body style="background-color: #f0f5f5;">
	{% include 'html/navbar.html' %}
	{% block content %}
	{% endblock %}
</body>
</html>